# ─── Base de Datos ───────────────────────────────────────────────────────────
DB_USER=admin
DB_PASSWORD=admin123
DB_NAME=veterinaria_db

# ─── JWT ─────────────────────────────────────────────────────────────────────
JWT_SECRET=supersecretkey_cambia_esto_en_produccion
JWT_EXPIRES_IN=7d

# ─── Prisma ───────────────────────────────────────────────────────────────────
DATABASE_URL=postgresql://admin:admin123@localhost:5432/veterinaria_db